upstream {{ hostvars[item]['app_domain'] }} {

{{ '{{-' }} range service "{{ hostvars[item]['app_consul_service'] }}" {{ '}}' }}
{% raw %}  server {{ .Address }}:{{ .Port }};{% endraw %}
{{- '{{-' }} end {{ '}}' }}

}

server {
   listen 80;

   location / {
      proxy_pass http://{{ hostvars[item]['app_domain'] }};
   }
}
